<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
      <!-- <li class = "nav-item">
            <a routerLink="wines" routerLinkActive="active" class="nav-link" >Vin List</a>
        </li>
        <li class = "nav-item">
            <a routerLink="create-wine" routerLinkActive="active" class="nav-link" >Add Vin</a>
        </li>-->
        
        <li class = "nav-item">
          <a href="login" routerLinkActive="active" class="nav-link w3-right vertical-center3" >Se Connecter</a>
      </li>
      <li class = "nav-item">
        <a href="acceuil" routerLinkActive="active" class="nav-link" >Acceuil</a>
    </li>
      <li class = "nav-item">
        <a href="publicList" routerLinkActive="active" class="nav-link" >Nos Vins</a>
    </li>
    <li class = "nav-item">
      <a href="nosproducteurs" routerLinkActive="active" class="nav-link" >Nos Producteurs</a>
  </li>
 
    </ul>
    
  </nav>





<div class="col-md-6 offset-md-2">
    <h2>Page de Connexion</h2>
    <form #loginForm="ngForm" (ngSubmit)="loginUser()">
        <small class="text-danger">{{msg}}</small>
      
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="emailId" placeholder="Entrez un email" name="emailId" [(ngModel)]="user.emailId" required #emailId="ngModel"
        [class.is-invalid]="emailId.invalid && emailId.touched"
        >
        <small class="text-danger" [class.d-none]="emailId.valid || emailId.untouched">Email est champs obligatoire </small>
      </div>
      <div class="form-group">
        <label for="pwd">Mot de passe:</label>
        <input type="password" class="form-control" id="password" placeholder="Entrez un mot de passe" name="password" [(ngModel)]="user.password" required #password="ngModel"
        [class.is-invalid]="password.invalid && password.touched"
        >
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Le mot de passe est champs obligatoire </small>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="remember"> Se Rappeler de moi </label>
      </div>
      <button [disabled]= "loginForm.form.invalid" type="submit" class="btn btn-info">Se connecter</button>
    </form>
    
    <small class="float-right" [routerLink]="['/registration']">nouvel utilisateur ? Créer un compte</small>
  </div>
