<p class="p4 text-center"><b>Cher utilisateur bienvenue sur notre application</b> </p>
<p class="p4"><br>Pour s'assurer du bon fonctionnement de l'application veuillez suivre ces instructions  </p>
<p class="p4"> <b>Si vous etes connecté à votre compte :</b></p>
<p class="p4">Vous pouvez consulter les vins ajoutés par votre compte en cliquant sur "Mes vins" situé sur la bar de navigation  </p>
<p class="p4">Cliquez sur "Mettre à jour" pour modifier un vin  </p>
<p class="p4">Cliquez sur "Supprimer" pour supprimer un vin  </p>
<p class="p4">Cliquez sur "Détails" pour voir les détails d'un vin et son producteur  </p>
<p class="p4"> Vous pouvez ajouter un vin en cliquant sur "Ajouter Vin" situé sur la bar de navigation  </p>
<p class="p4"> Pour ajouter un vin il faut ajouter un producteur, veuillez remplir le formulaire dont le lien est au dessous du formulaire "ajouter vin", vous ne pouvez ajouter qu'un seul producteur par compte </p>
<p class="p4">Vous pouvez consulter tous les vins disponibles en cliquant sur "Nos Vins" situé sur la bar de navigation </p>
<p class="p4">Vous pouvez faire des recherches par couleur et/ou region et/ou prix sur la page "Nos vin" veuillez selectionner vos critères de recherche  </p>
<p class="p4">Pour consulter les informations de votre compte ainsi qu'aux informations du producteur associé à ce compte veuillez cliquer sur "Mon compte" situé sur la bar de navigation</p>
<p class="p4"> <b>Si vous n'etes pas connecté  :</b></p>
<p class="p4">Vous pouvez consulter tous les vins disponibles en cliquant sur "Nos Vins" situé sur la bar de navigation </p>
<p class="p4">Vous pouvez faire des recherches par couleur et/ou region et/ou prix sur la page "Nos vin" veuillez selectionner vos critères de recherche  </p>
<p class="p4">Cliquez sur "Détails" pour voir les détails d'un vin et son producteur  </p>
<p class="p4">Vous pouvez consulter la liste des producteurs disponibles sur notre application en cliquant sur "Nos Producteurs" situé sur la bar de navigation </p>
<p class="p4"> Vous pouvez effectuer des recherches des producteurs par region viticole, pour cela vous devez cliquer sur le bouton "Recherche Par Region Viticole" ça vous redirige vers la carte, veuillez selectionner la region demandée et vous aurez les producteurs disponibles situés dans cette region</p>
<p class="p4"> <b>Vous pouvez créer votre compte en cliquant sur "Se connecter" ensuite sur lien situé au-dessous du formulaire de connexion "Créer un Compte"</b></p>
