<h3 class="p4"> <b>Details Du Vin</b></h3>
<div>
    <div>
        <label> <b> Appelation: </b></label> {{vin.appelation}}
    </div>
    <div>
        <label> <b> Cepage: </b></label> {{vin.couleur}}
    </div>
    <div>
        <label> <b> Prix: </b></label> {{vin.prix}}
    </div>
    <div>
        <label> <b> Degré d'alcool: </b></label> {{vin.degre_alcool}}
    </div>
    <div>
        <label> <b> Contenance: </b></label> {{vin.contenance}}
    </div>
    <div>
        <label> <b> couleur: </b></label> {{vin.couleur}}
    </div>
    <div>
        <label> <b> Region: </b></label> {{vin.region}}
    </div>
    <div>
        <label> <b> Description: </b></label> {{vin.description}}
    </div>
    <div>
        <h3 class="p4"> <br> <b> Détails du producteur: </b></h3> 
      <div>  
          <div>
        <label> <b> Nom: </b></label> {{producteur.nom}}
    </div>
        <label> <b> numéro fiscal: </b></label> {{producteur.numero_fiscal}}
        <div>
        <label> <b> telephone: </b></label> {{producteur.telephone}}
    </div>
    <div>
        <label> <b> Region Viticole: </b></label> {{producteur.regionviticole}}
    </div>
    <div>
        <label> <b> Ville: </b></label> {{producteur.ville}}
    </div>
    </div>
</div>

